<div class="modal fade" id="modal-delete-client" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% include 'CanalTPNmmPortalBundle:Customer:_deleteModalContent.html.twig'%}
        </div>
    </div>
</div>